body {
  background-color: #121212;
}

html {
  color: #e5e2e2;
  margin: 0 auto;
  max-width: 90ch;
  font-family: sans-serif;
  line-height: 1.6;
}

h1 {
  color: #ffffff;
}

h2,
h3,
h4,
h5,
h6 {
  color: #eeeeee;
}

a {
  color: #03dac6;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  border-radius: 5%;
}

figure {
  margin: auto;
  text-align: center;
  font-style: italic;
}

figcaption {
  margin: 0.5em;
}

footer {
  display: block;
  color: #9e9d9d;
  font-size: small;
}
